@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*link to the model & Html*@
@model TipCalculatorModel
@{
    ViewBag.Title = "Tip Calculator";
}
@*This class is the view which is what the users sees, it sends its inptus to the controller*@ 

<h1>Tip Calculator</h1>

<form asp-action="Index" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Subtotal">
            Cost of meal:
        </label>
        <input asp-for="Subtotal" />
    </div>
    <div>
        <label>15% tip:</label>
        <label>@ViewBag.T1.ToString("c2")</label>
    </div>
    <div>
        <label>20% tip:</label>
        <label>@ViewBag.T2.ToString("c2")</label>
    </div>
    <div>
        <label>25% tip:</label>
        <label>@ViewBag.T3.ToString("c2")</label>
    </div>
    <button type="submit">Calculate</button>
    <a asp-action="Index">Clear</a>
</form>